<div class="welcomeHeader">
    <p>Hello,</p>
    <span class="stats">
        <p class="name"><%= locals.data.first_name || '' %></p>
        <p class="role"><%= locals.data.role || '' %></p>
    </span>
</div>