* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    padding: 0px;
    margin: 0px;
    background-color: #F1F7FD;
    min-width: 200px;
    min-height: 100vh;
    display: flex;        
    flex-direction: column;    
    padding-left: 10px;              
}

.navigation h1 {
    font-weight: 600;
    font-size: 15px;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.navigation ul {
    display: flex;                 /* Apply flexbox to the <ul> */
    flex-direction: column;        /* Stack the items vertically */
    list-style-type: none;         /* Remove default list bullets */
    padding: 0;                    /* Remove padding */
    margin: 0;                     /* Remove margin */
    gap: 5px;
    width: 100%;
}

.navigation li {
    display: block;  
    padding: 3px;
}

.navigation a {
    text-decoration: none;          /* Remove underline from links */
    color: #333;                    /* Set text color */
    padding: 10px;                  /* Add padding for spacing */
    background-color: #ebf0f5;      /* Background color */
    border-radius: 5px 0px 0px 5px;
    display: flex;                  /* Use flexbox to align items */
    align-items: center;            /* Center vertically */
    gap: 10px;                      /* Add some space between the icon and text */
    width: 100%;                    /* Ensure the <a> tag fills the parent <li> */
    font-size: 11px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s, font-weight 0.3s;  /* Add transition */
}

.navigation a:hover {
    background-color: #0065FF;      /* Change color on hover */
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.navigation a.active {
    background-color: #0065FF;      /* Change color on hover */
    color: white;
    font-size: 12px;
    font-weight: 600;
}



.welcomeHeader {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
    padding: 10px;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.welcomeHeader p{
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.welcomeHeader .name {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.welcomeHeader .name::first-letter {
    text-transform: uppercase;
}

.welcomeHeader .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 5px; */
}

.welcomeHeader .stats .role {
    font-size: 10px;
    font-weight: 700;
    border-radius: 50px;
    background-color: #0065FF;
    padding: 3px 10px 3px 10px;
    color: white;
    margin: 0;
    margin-left: 10px;
}
